<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="rcp.taskholder.Application">
         </run>
      </application>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="rcp.taskholder.Perspective"
            id="rcp.taskholder.perspective">
      </perspective>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <view
            class="rcp.taskholder.view.TablePart"
            id="rcp.taskholder.view.TablePart"
            name="TablePart"
            restorable="true">
      </view>
      <view
            class="rcp.taskholder.view.EditPart"
            id="rcp.taskholder.view.EditPart"
            name="EditPart"
            restorable="true">
      </view>
      <view
            class="rcp.taskholder.view.TreePart"
            id="rcp.taskholder.view.TreePart"
            name="TreePart"
            restorable="true">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="rcp.taskholder.file_category"
            name="File Category">
      </category>
      <command
            categoryId="rcp.taskholder.file_category"
            id="rcp.taskholder.saveFile"
            name="Save File">
      </command>
      <command
            categoryId="rcp.taskholder.file_category"
            id="rcp.taskholder.saveAsFile"
            name="Save As">
      </command>
      <command
            categoryId="rcp.taskholder.file_category"
            id="rcp.taskholder.openFile"
            name="Open">
      </command>
      <command
            id="rcp.taskholder.exit"
            name="Exit">
      </command>
      <category
            id="rcp.taskholder.editCategory"
            name="Edit Category">
      </category>
      <command
            categoryId="rcp.taskholder.editCategory"
            id="rcp.taskholder.undo"
            name="Undo">
      </command>
      <command
            id="rcp.taskholder.redo"
            name="Redo">
      </command>
      <command
            categoryId="rcp.taskholder.editCategory"
            id="rcp.taskholder.copy"
            name="Copy">
      </command>
      <command
            id="rcp.taskholder.paste"
            name="Paste">
      </command>
      <command
            id="rcp.taskholder.delete"
            name="Delete">
      </command>
      <command
            categoryId="rcp.taskholder.helpCategory"
            id="rcp.taskholder.about"
            name="About">
      </command>
      <category
            id="rcp.taskholder.helpCategory"
            name="Help Category">
      </category>
      <category
            id="rcp.taskholder.toolbarCategory"
            name="Toolbar Category">
      </category>
      <command
            categoryId="rcp.taskholder.toolbarCategory"
            id="rcp.taskholder.addNewLine"
            name="New">
      </command>
      <command
            categoryId="rcp.taskholder.toolbarCategory"
            id="rcp.taskholder.saveRow"
            name="Save Row">
      </command>
      <command
            categoryId="rcp.taskholder.toolbarCategory"
            id="rcp.taskholder.cancel"
            name="Cancel">
      </command>
      <command
            id="rcp.taskholder.openTree"
            name="Open tree">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="rcp.taskholder.handlers.SaveFileHandler"
            commandId="rcp.taskholder.saveFile">
      </handler>
      <handler
            class="rcp.taskholder.handlers.SaveAsFileHandler"
            commandId="rcp.taskholder.saveAsFile">
      </handler>
      <handler
            class="rcp.taskholder.handlers.OpenFileHandler"
            commandId="rcp.taskholder.openFile">
      </handler>
      <handler
            class="rcp.taskholder.handlers.ExitHandler"
            commandId="rcp.taskholder.exit">
      </handler>
      
      <handler
            class="rcp.taskholder.handlers.RedoHandler"
            commandId="rcp.taskholder.redo">
	  </handler>
      <handler
            class="rcp.taskholder.handlers.CopyHandler"
            commandId="rcp.taskholder.copy">
      </handler>     
      <handler
            class="rcp.taskholder.handlers.UndoHandler"
            commandId="rcp.taskholder.undo">
      </handler>
      <handler
            class="rcp.taskholder.handlers.DeleteRowHandler"
            commandId="rcp.taskholder.delete">
      </handler>
      <handler
            class="rcp.taskholder.handlers.PasteHandler"
            commandId="rcp.taskholder.paste">
      </handler>
      <handler
            class="rcp.taskholder.handlers.AboutHandler"
            commandId="rcp.taskholder.about">
      </handler>
      <handler
            class="rcp.taskholder.handlers.AddNewLineHandler"
            commandId="rcp.taskholder.addNewLine">
      </handler>
      <handler
            class="rcp.taskholder.handlers.SaveRowHandler"
            commandId="rcp.taskholder.saveRow">
      </handler>
      <handler
            class="rcp.taskholder.handlers.CancelHandler"
            commandId="rcp.taskholder.cancel">
      </handler>
      <handler
            class="rcp.taskholder.handlers.OpenTreeHandler"
            commandId="rcp.taskholder.openTree">
      </handler>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="rcp.taskholder.menu.file"
               label="File">
            <command
                  commandId="rcp.taskholder.saveFile"
                  icon="icons/save_icon.png"
                  label="Save file"
                  style="push">
            </command>
            <command
                  commandId="rcp.taskholder.saveAsFile"
                  label="Save as..."
                  style="push">
            </command>
            <command
                  commandId="rcp.taskholder.openFile"
                  icon="icons/icon-folder-128.png"
                  label="Open..."
                  style="push">
            </command>
            <command
                  commandId="rcp.taskholder.exit"
                  label="Exit"
                  style="push">
			</command>

         </menu>
         <menu
               id="rcp.taskholder.menu.edit"
               label="Edit">
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  label="Undo"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  label="Redo"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  label="Copy"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  label="Paste"
                  style="push">
            </command>
            <command
                  commandId="rcp.taskholder.delete"
                  label="Delete"
                  style="push">
            </command>
         </menu>
         <menu
               label="View">
            <command
                  commandId="rcp.taskholder.openTree"
                  label="Show tree"
                  style="toggle">
            </command>
         </menu>
         <menu
               label="Help">
            <command
                  commandId="rcp.taskholder.about"
                  icon="icons/information.png"
                  label="About"
                  style="push">
            </command>
         </menu>
      
      </menuContribution>
      
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="rcp.taskholder.toolbar">
            <command
                  commandId="rcp.taskholder.addNewLine"
                  icon="icons/new_file_icon.png"
                  style="push">
            </command>
            <command
                  commandId="rcp.taskholder.saveRow"
                  icon="icons/save-icon_36x36.png"
                  style="push">
            </command>
            <command
                  commandId="rcp.taskholder.delete"
                  icon="icons/remove-icon_36x36.png"
                  style="push">
            </command>
            <command
                  commandId="rcp.taskholder.cancel"
                  icon="icons/cancel_36x36.png"
                  style="push">
            </command>
         </toolbar>
         <toolbar
                  id="undoredo.toolbar"
                  label="Undo/Redo">
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  id="undoredo.undo"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  id="undoredo.redo"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      
      <menuContribution
            allPopups="false"
            locationURI="popup:rcp.taskholder.view.TablePart">
         <command
               commandId="org.eclipse.ui.edit.undo"
               label="Undo"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.redo"
               label="Redo"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.copy"
               label="Copy"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.paste"
               label="Paste"
               style="push">
         </command>
         <command
               commandId="rcp.taskholder.delete"
               icon="icons/delete.png"
               label="Delete"
               style="push">
         </command>
      </menuContribution>
      
      <menuContribution
            allPopups="false"
            locationURI="popup:rcp.taskholder.view.TreePart">
         <command
               commandId="org.eclipse.ui.edit.undo"
               label="Undo"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.redo"
               label="Redo"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.copy"
               label="Copy"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.paste"
               label="Paste"
               style="push">
         </command>
         <command
               commandId="rcp.taskholder.delete"
               icon="icons/delete.png"
               label="Delete"
               style="push">
         </command>
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="rcp.taskholder.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+X">
      </key>
      <key
            commandId="rcp.taskholder.openFile"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+O">
      </key>
      <key
            commandId="rcp.taskholder.delete"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+D">
      </key>
   </extension>

</plugin>
