<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="rcp.taskholder.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="rcp.taskholder.Perspective"
            id="rcp.taskholder.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="rcp.taskholder.view.TablePart"
            id="rcp.taskholder.view.TablePart"
            name="TablePart"
            restorable="true">
      </view>
      <view
            class="rcp.taskholder.view.EditPart"
            id="rcp.taskholder.view.EditPart"
            name="EditPart"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="rcp.taskholder.file_category"
            name="File Category">
      </category>
      <command
            categoryId="rcp.taskholder.file_category"
            id="rcp.taskholder.saveFile"
            name="Save">
      </command>
      <command
            categoryId="rcp.taskholder.file_category"
            id="rcp.taskholder.saveAsFile"
            name="Save As">
      </command>
      <command
            categoryId="rcp.taskholder.file_category"
            id="rcp.taskholder.openFile"
            name="Open">
      </command>
      <command
            id="rcp.taskholder.exit"
            name="Exit">
      </command>
      <category
            id="rcp.taskholder.editCategory"
            name="Edit Category">
      </category>
      <command
            categoryId="rcp.taskholder.editCategory"
            id="rcp.taskholder.undo"
            name="Undo">
      </command>
      <command
            id="rcp.taskholder.redo"
            name="Redo">
      </command>
      <command
            categoryId="rcp.taskholder.editCategory"
            id="rcp.taskholder.copy"
            name="Copy">
      </command>
      <command
            id="rcp.taskholder.paste"
            name="Paste">
      </command>
      <command
            id="rcp.taskholder.delete"
            name="Delete">
      </command>
      <command
            categoryId="rcp.taskholder.helpCategory"
            id="rcp.taskholder.about"
            name="About">
      </command>
      <category
            id="rcp.taskholder.helpCategory"
            name="Help Category">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="rcp.taskholder.handlers.SaveFileHandler"
            commandId="rcp.taskholder.saveFile">
      </handler>
      <handler
            class="rcp.taskholder.handlers.SaveAsFileHandler"
            commandId="rcp.taskholder.saveAsFile">
      </handler>
      <handler
            class="rcp.taskholder.handlers.OpenFileHandler"
            commandId="rcp.taskholder.openFile">
      </handler>
      <handler
            class="rcp.taskholder.handlers.ExitHandler"
            commandId="rcp.taskholder.exit">
      </handler>
      
      <handler
            class="rcp.taskholder.handlers.RedoHandler"
            commandId="rcp.taskholder.redo">
	  </handler>
      <handler
            class="rcp.taskholder.handlers.CopyHandler"
            commandId="rcp.taskholder.copy">
      </handler>     
      <handler
            class="rcp.taskholder.handlers.UndoHandler"
            commandId="rcp.taskholder.undo">
      </handler>
      <handler
            class="rcp.taskholder.handlers.DeleteRowHandler"
            commandId="rcp.taskholder.delete">
      </handler>
      <handler
            class="rcp.taskholder.handlers.PasteHandler"
            commandId="rcp.taskholder.paste">
      </handler>
      <handler
            class="rcp.taskholder.handlers.AboutHandler"
            commandId="rcp.taskholder.about">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="rcp.taskholder.menu.file"
               label="File">
            <command
                  commandId="rcp.taskholder.saveFile"
                  label="Save file"
                  style="push">
            </command>
            <command
                  commandId="rcp.taskholder.saveAsFile"
                  label="Save as..."
                  style="push">
            </command>
            <command
                  commandId="rcp.taskholder.openFile"
                  label="Open..."
                  style="push">
            </command>
            <command
                  commandId="rcp.taskholder.exit"
                  label="Exit"
                  style="push">
			</command>

         </menu>
         <menu
               id="rcp.taskholder.menu.edit"
               label="Edit">
            <command
                  commandId="rcp.taskholder.undo"
                  label="Undo"
                  style="push">
            </command>
            <command
                  commandId="rcp.taskholder.redo"
                  label="Redo"
                  style="push">
            </command>
            <command
                  commandId="rcp.taskholder.copy"
                  label="Copy"
                  style="push">
            </command>
            <command
                  commandId="rcp.taskholder.paste"
                  label="Paste"
                  style="push">
            </command>
            <command
                  commandId="rcp.taskholder.delete"
                  label="Delete"
                  style="push">
            </command>
         </menu>
         <menu
               label="Help">
            <command
                  commandId="rcp.taskholder.about"
                  label="About"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
